@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&display=swap");
/* color: https://colorhunt.co/palette/dab88bf3e9ddfdf6ecb7cadb */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.mx-20 {
  margin: 0 20px;
}

.app {
  background: #dab88b;
  height: 100vh;
}

header {
  text-align: center;
  background-color: #fdf6ec;
  padding: 4px 10%;
  margin-bottom: 15px;
  outline: 11px dotted #fdf6ec;
}

h1 {
  font-style: 45px;
  color: #b7cadb;
  font-weight: 600;
}

.taskCardsArea {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 10px;
}

.taskCard {
  width: 250px;
  padding: 10px 25px;
  margin: 10px 1%;
  border-radius: 5px;
  background-color: #f3e9dd;
}

.taskCardTitleAndTaskCardDeleteButtonArea {
  display: flex;
  justify-content: space-between;
}

.taskCardTitleInputArea {
  margin-bottom: 10px;
  width: 30%;
  cursor: pointer;
}

.taskCardTitleInput {
  width: 80px;
  font-size: 1.1rem;
  padding: 4px 6px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.taskAddInput {
  width: 100%;
  font-size: 1.3rem;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  outline: none;
}

.taskCardDeleteButton {
  border: none;
  background: none;
  color: #9a3b3b;
  font-size: 16px;
  cursor: pointer;
}

.taskBox {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf6ec;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #ccc;
}

.taskBox p {
  word-break: break-all;
}

.taskTrashButton {
  border: none;
  background: none;
}

.addTaskCardButtonArea {
  margin: 25px 0 0 1%;
}

.addTaskCardButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  background-color: #b7cadb;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.5s;
}

.addTaskCardButton:hover {
  transform: rotate(180deg);
  opacity: 1;
}
