* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Wawati SC", sans-serif;
}

.app {
  background: url(../src/images/glitter-background.jpg);
  background-repeat: no-repeat;
  height: 100vh;
}

header {
  text-align: center;
  background-color: #fff6e4ef;
  padding: 4px 10%;
  margin-bottom: 10px;
}

h1 {
  font-style: 45px;
  color: #ffb000;
  font-weight: 600;
}

.taskCardsArea {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.taskCard {
  width: 250px;
  padding: 10px 25px;
  margin: 10px 1%;
  border-radius: 5px;
  background-color: #f5f5dc;
}

.taskCardTitleAndTaskCardDeleteButtonArea {
  display: flex;
  justify-content: space-between;
}

.taskCardTitleInputArea {
  margin-bottom: 10px;
  width: 30%;
  cursor: pointer;
}

.taskCardTitleInput {
  width: 80px;
  font-size: 1.1rem;
  padding: 4px 6px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.taskAddInput {
  width: 100%;
  font-size: 1.3rem;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.taskCardDeleteButton {
  border: none;
  background: none;
  color: #9a3b3b;
  font-size: 16px;
  cursor: pointer;
}

.taskBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #ccc;
}

.taskTrashButton {
  border: none;
  background: none;
}

.addTaskCardButtonArea {
  margin: 25px 0 0 1%;
}

.addTaskCardButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  background-color: #ffb000;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.5s;
}

.addTaskCardButton:hover {
  transform: rotate(180deg);
  opacity: 1;
}
